.picture {
    width: 3.5%;
    margin-top: .8%;
    margin-left: 2.8%;
    cursor: pointer;
}

.jerome {
    color: black;
    position: absolute;
    margin-top: 27px;
    margin-left: 20px;
    font-family: Source Sans Pro;
    font-weight: bolder;
    font-size: 18px;
    transition: color .3s;
}

.jerome:hover {
    cursor: pointer;
    color: rgb(173, 0, 0);
}

.home {
    color: black;
    position: absolute;
    margin-top: 27px;
    margin-left: 59%;
    font-family: Source Sans Pro;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    transition: color .3s;
    
}

.home:hover {
    cursor: pointer;
    color: rgb(173, 0, 0);
}

.about {
    color: black;
    position: absolute;
    margin-top: 27px;
    margin-left: 65%;
    font-family: Source Sans Pro;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    transition: color .3s;
}

.about:hover {
    cursor: pointer;
    color: rgb(173, 0, 0);
}

.projects {
    color: black;
    position: absolute;
    margin-top: 27px;
    margin-left: 72%;
    font-family: Source Sans Pro;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    transition: color .3s;
}

.projects:hover {
    cursor: pointer;
    color: rgb(173, 0, 0);
}

.contact {
    color: rgb(173, 0, 0);
    position: absolute;
    margin-top: 27px;
    margin-left: 80.5%;
    font-family: Source Sans Pro;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    transition: color .3s;
}

.contact:hover {
    cursor: pointer;
    color: rgb(173, 0, 0);
}

.space {
    margin-top: 100px;
    display: -webkit-inline-box;
}


.contact-title {
    width: 70%;
    margin: auto;
    display: block;
}
.contact {
    width: 100%;
    margin-bottom: 20px;
}


.info-container {
    width: 80%;
    margin: auto;
    padding: 35px;
    background-color: rgb(173, 0, 0);
    border-radius: 20px;
}
.icon {
    width: 18%;
    margin-bottom: 1%;
    margin-left: 11%;
}

.text {
    position: relative;
}
.description-loc {
    color: white;
    font-size: 20px;
    font-family: Source Sans Pro;
    position: absolute;
    top: 320px;
    left: 285px;
}
.description-num {
    color: white;
    font-size: 20px;
    font-family: Source Sans Pro;
    position: absolute;
    top: 320px;
    left: 700px;
}
.description-mail {
    color: white;
    font-size: 20px;
    font-family: Source Sans Pro;
    position: absolute;
    top: 320px;
    left: 1000px;
}
.block {
    display: block;
}
.location {
    display: block;
    margin: auto;
}


.tagline {
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 100px;
    text-align: center;
}
.line {
    color: white;
    font-family: Source Sans Pro;
}